.c.c.card
  .card-block
    .row
      .col-md-1
      .col-md-11
        %p.card-text
          %span.text-muted
            = "#{message.user.name} at #{message.timestamp} says"
          %br
          %pre
            = form_for message, method: :put, html: {hidden: true, id: "edit_message#{message.id}"}  do |f|
              = f.text_field :body
              = f.submit 'Update'
            %span{id: "message#{message.id}"}
              = message.body
            - if current_user == message.user
              = button_to 'Delete Message', [message],  method: :delete, id: "delete-public-msg-#{message.id}"
              %button.b_edit_message{ 'data-id': message.id }
                Edit Message
            -elsif current_user.nil?
              = button_to 'Delete Message', [message],  method: :delete, id: "public-msg-delete-#{message.id}"
              %button.b_edit_message{ 'data-id': message.id, id: "public-msg-edit-#{message.id}" }
                Edit Message



-#.row
-#  .col-xs-2.col-sm-1.col-md-1.col-lg-1
-#  .col-xs-10.col-sm-11.col-md-11.col-lg-11
-#    .row.message-user-data-row
-#      .col-xs-6
-#        = message.user.name
-#      .col-xs-6
-#        = message.timestamp
-#    .row.message-text-row
-#      .col-xs-12.message-text-col
-#        = message.body

