.c.c.card
  .card-block
    .row
      .col-md-1
      .col-md-11
        %p.card-text
          %span.text-muted
            = message.user.name
            at #{message.timestamp} says
          %br
          %pre
            = form_for message, method: :put, html: {hidden: true, id: "edit_message#{message.id}"}  do |f|
              = f.text_field :body
              = f.submit 'Update'
            %span{id: "message#{message.id}"}
              = message.body
          - if current_user.id == message.user.id
            = button_to 'Delete Message', [message],  method: :delete
            %button.b_edit_message{ 'data-id': message.id }
              Edit Message
