%h3= link_to "go to #{@room.name}",room_path(@room)
%h2
  Add members to #{@room.name}
%h4 current members
%ul#member-list
  - @memberships.each do |member|
    %li= member.name
%h4 Add Members
%ul#add-users
  - @users.each do |user|
    %li
      = user.username
      %input{:id => "#{user.id}-add-member", :type => "checkbox"}/
