.website-content
  .container
    .row
      .col-xs-12
        %h1 Users Search
        = form_for search_path, method: :get do |f|
          %p
            = text_field_tag :username, params[:username],class: 'form-control'
            %br
            = submit_tag 'Search', name: nil, class: 'btn btn-primary'
        %ul
          - unless @users.nil?
            - @users.each do |user|
              %li
                %h3
                  - if user.avatar.url.nil?
                    = image_tag(asset_path("no_avatar.jpg"), class: "avatar")
                  - else
                    = image_tag(user.avatar.url, class: "avatar")
                  = form_for :private_chat_room,html:{:action => "/private_chat_room", :method => "post"} do |f|
                    = f.hidden_field :user, value: current_user.id
                    = f.text_field :name, value: "#{current_user.username} #{user.username}"
                    -#= f.fields_for :membership do |ff|
                    -#  = f.hidden_field :owner, value: current_user.id
                    -#  = f.hidden_field :member, value: user.id
                    = f.submit user.username
