.container-fluid.main-chat-container
  .row.main-chat-row
    .hidden-xs.col-sm-4.col-md-3.col-lg-2.chat-menu-col
      .row.chat-main-menu-row
    .col-xs-12.col-sm-8.col-md-9.col-lg-10.chat-messages-col
      .row.chat-head-row
      .row.chat-message-row#private_messages{"data-private-chat-room-id" => "#{@private_chat_room.id}"}
        = render @private_chat_room.private_messages
      .chat-message-form-row
        = form_for @message, url: '#', html:{id: 'private_new_message'} do |f|
          = hidden_field_tag 'private_chat_room_id', @private_chat_room.id
          .input-group.private-chat-input-group
            = f.text_area :content, class: 'form-control private-message-text-area'
            %span.input-group-btn
              = f.submit 'Post', class: 'btn btn-warning btn-send-private-message'



-#.container-fluid.main-chat-container
-#  .row.main-chat-row
-#    .chat-menu-col
-#      %h1= @private_chat_room.name
-#      %p.left-chat-menu-section Room members:
-#      .left-chat-menu-member
-#        =@private_chat_room.membership.owner.name
-#      .left-chat-menu-member
-#        =@private_chat_room.membership.member.name
-#    .chat-messages-col
-#      .chat-messages-container
-#        #private_messages{"data-private-chat-room-id" => "#{@private_chat_room.id}"}
-#          -#= render @private_chat_room.private_messages
-#      .chat-send-form-container
-#        = form_for @message, url: '#', html:{id: 'private_new_message'} do |f|
-#          = hidden_field_tag 'private_chat_room_id', @private_chat_room.id
-#          .input-group.private-chat-input-group
-#            = f.text_area :content, class: 'form-control private-message-text-area'
-#            %span.input-group-btn
-#              = f.submit 'Post', class: 'btn btn-primary btn-send-private-message'



        -#= form_for @message, url: '#', html:{id: 'private_new_message'} do |f|
        -#  = hidden_field_tag 'private_chat_room_id', @private_chat_room.id
        -#  .input-group
        -#    = f.text_area :content, class: 'form-control custom-control', html: {:rows => "2", :style => "resize:none"}
        -#    %span.input-group-addon.btn.btn-primary#span-btn-private-msg Send
        -#  = f.submit 'Post', class: 'btn btn-primary btn-private-chat-send', id: 'btn-private-chat-send'




        -#= form_for @message, url: '#', html:{id: 'private_new_message'} do |f|
        -#  = hidden_field_tag 'private_chat_room_id', @private_chat_room.id
        -#  = f.text_area :content, class: 'private-message-text-area'
        -#  = f.submit "Post", class: 'btn btn-primary btn-send-message'




  -##private_messages{"data-private-chat-room-id" => "#{@private_chat_room.id}"}
  -#  = render @private_chat_room.private_messages
  -#%hr/
  -#= form_for @message, url: '#', html:{id: 'private_new_message'} do |f|
  -#  = hidden_field_tag 'private_chat_room_id', @private_chat_room.id
  -#  .form-group
  -#    = f.label :content
  -#    = f.text_area :content, class: 'form-control'
  -#    %small.text-muted From 2 to 1000 characters
  -#  = f.submit "Post", class: 'btn btn-primary btn-lg'