.website-content
  .container
    .row
      .col-xs-12
        %h1 New multi_user_private_chat_room
        = form_for @multi_user_private_chat_room do |f|
          .form-group
            = f.label :name
            = f.text_field :name, autofocus: true, class: 'form-control'
            = f.hidden_field :user_id, value: current_user.id
          = f.submit 'Add', class: 'btn btn-primary'

