<div class="c c card">
    <div class="card-block">
        <div class="row">
            <div class="col-md-1"></div>
                <div class="col-md-11">
                <p class="card-text">
                <span class="text-muted">
                <%= name%>
                at <%= time%> says
                </span>
                <br>
                </p>
                <pre>
                    <form hidden="hidden" id="edit_message<%= id%>" class="edit_message" action="/messages/<%= id%>" accept-charset="UTF-8" method="post">
                        <input name="utf8" type="hidden" value="✓">
                        <input type="hidden" name="_method" value="put">
                        <input type="hidden" name="authenticity_token" value="7pyf+jZ1r0Jbi3KAvqs3axx5uFcqBADnCRagYotIdjQjDzO0yCGpBXcRaClZwiR2MwmMIcYB9YVIkSf+Hp2wZw==">
                        <input type="text" value="<%= body%>" name="message[body]" id="message_body">
                        <input type="submit" name="commit" value="Update" data-disable-with="Update">
                    </form>
                    <span id="message<%= id%>">
                        %= body%>
                    </span>
                </pre>
                <p></p>
            </div>
        </div>
    </div>
</div>


<div class="c c card">
<div class="card-block">
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-11">
<p class="card-text">
<span class="text-muted">
master
at 12:48:19 02 May 2018 says
</span>
<br>
</p><pre><form hidden="hidden" id="edit_message65" class="edit_message" action="/messages/65" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="put"><input type="hidden" name="authenticity_token" value="s4F5WMH9Z0+O2SADZPtKl4qus9orhBg0tS0lV2X+3VuBZbIBn5Qi0oOZPYmQAEV3vKWvd/cJ0aPy5s4A4svPPQ=="><input type="text" value="12345" name="message[body]" id="message_body"><input type="submit" name="commit" value="Update" data-disable-with="Update"></form><span id="message65">
12345</span></pre>
<form class="button_to" method="post" action="/messages/65"><input type="hidden" name="_method" value="delete"><input type="submit" value="Delete Message"><input type="hidden" name="authenticity_token" value="s4F5WMH9Z0+O2SADZPtKl4qus9orhBg0tS0lV2X+3VuBZbIBn5Qi0oOZPYmQAEV3vKWvd/cJ0aPy5s4A4svPPQ=="></form>
<button class="b_edit_message" data-id="65">
Edit Message
</button>
<p></p>
</div>
</div>
</div>
</div>