.website-content
  .container
    .row
      .col-xs-12
        %h2.text-center.auth-head-text
          Edit #{resource_name.to_s.humanize}
        .edit-user
          = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
            = devise_error_messages!
            %div
              = f.text_field :username, autofocus: true, class: 'auth-input', id: 'sign-up-username-input', placeholder: 'Username'
            .field
              = f.email_field :email, autocomplete: "email", class: 'auth-input', placeholder: 'Email'
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %div
                Currently waiting confirmation for: #{resource.unconfirmed_email}
            .field
              = f.password_field :password, autocomplete: "off", class: 'auth-input', id: 'sign-up-pwd-input', placeholder: 'Password'
              - if @minimum_password_length
                .pwd-tooltip-text
                  = "#{@minimum_password_length} characters minimum"
            .field
              = f.password_field :password_confirmation, autocomplete: "off", class: 'auth-input', placeholder: 'Password Confirmation'
            .field
              = f.password_field :current_password, autocomplete: "off", class: 'auth-input', placeholder: 'Current Password'
            .field
              %span.btn.btn-file{id: 'avatar-profile-button'}
                %p#p-profile-avatar
                  %span
                    Choose avatar
                \#{f.file_field :avatar, id: 'avatar-profile'}
            .actions
              = f.submit 'Update', class: 'btn btn-default auth-submit'
          %p
            #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-default auth-submit'}
