.container-fluid
  .row
    .col-xs-2.col-sm-3.col-md-3.col-lg-3
    .col-xs-10.col-sm-9.col-md-9.col-lg-9
      .row.message-user-data-row
        .col-xs-6
          = private_message.user.name
        .col-xs-6
          = private_message.timestamp
      .row.message-text-row
        .col-xs-12.message-text-col
          = private_message.content








-#.card
  .card-block
    .row
      .col-md-1
      .col-md-11
        %p.card-text
          %span.text-muted
            = private_message.user.username
            at #{private_message.timestamp} says
          %br/
          = private_message.content
