!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title SocketChat
    = csrf_meta_tags
    -#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    -#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    -#= javascript_pack_tag 'application'
    -#= stylesheet_pack_tag 'application'
    %link{:href => "https://fonts.googleapis.com/css?family=Kreon", :rel => "stylesheet"}/
  %body
    = render 'layouts/header' unless no_header_page(controller.controller_name, controller.action_name)
    = yield
    = render 'layouts/footer' unless no_footer_page(controller.controller_name, controller.action_name)
